<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunkun.suncms.dao.IModelDao">
	<resultMap id="BaseResultMap" type="com.sunkun.suncms.beans.ModelBean">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="tableName" property="tableName" jdbcType="VARCHAR" />
		<result column="listFields" property="listFields" jdbcType="VARCHAR" />
		<result column="introduce" property="introduce" jdbcType="VARCHAR" />
		<result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id, name, tableName, listFields, introduce, createTime
	</sql>
	
	<insert id="insertSelective"  parameterType="com.sunkun.suncms.beans.ModelBean">
		INSERT INTO sk_model(name, tableName, listFields, introduce, createTime) values(
			#{name},
			#{tableName},
			#{listFields},
			#{introduce},
			#{createTime}
		)
	</insert>
	
	<update id="updateByPrimaryKeySelective"  parameterType="com.sunkun.suncms.beans.ModelBean">
		UPDATE sk_model u SET 
			u.name=#{name},
			u.tableName=#{tableName},
			u.listFields=#{listFields},
			u.introduce=#{introduce},
			u.createTime=#{createTime},
			where u.id=#{id,jdbcType=INTEGER}
	</update>
	
	<!--
		<delete id="deleteByIds" parameterType="java.util.List">
			<foreach close="" collection="list" index="index" item="item" open="" separator=";">
				DELETE FROM sk_model
				WHERE id=#{item.id,jdbcType=INTEGER}
			</foreach>
		</delete>
		-->
	
	
	<delete id="deleteByIds" parameterType="java.util.List">
			DELETE FROM sk_model WHERE id IN
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">  
    			#{item}  
		</foreach>
	</delete>
	
	
	
	<delete id="deleteByPrimaryKey" parameterType="int">
		DELETE FROM sk_model
		WHERE id=#{id,jdbcType=INTEGER}
	</delete>
	
	<select id="getAllCount" resultType="int" parameterType="map">
		SELECT COUNT(id) FROM sk_model 
		<where>
			<if test="name != null">
				name like CONCAT('%',#{name},'%') 
			</if>
		</where>
	</select>
	
	<select id="getAllList" resultMap="BaseResultMap" parameterType="map">
		SELECT 
		<include refid="Base_Column_List" />
		FROM sk_model 
		<where>
			<if test="name != null">
				name like CONCAT('%',#{name},'%') 
			</if>
		</where>
		<if test="sort != null"> 
			order by ${sort} ${order}
		</if>
		LIMIT 
		#{pageIndex,jdbcType=INTEGER},
		#{pageSize,jdbcType=INTEGER}
	</select>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="int">
		SELECT 
		<include refid="Base_Column_List"></include>
		FROM sk_model 
		WHERE id=#{id,jdbcType=INTEGER}
	</select>
	
	
</mapper>