<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunkun.suncms.dao.IUsersDao">
	<resultMap id="BaseResultMap" type="com.sunkun.suncms.beans.UsersBean">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="userName" property="userName" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="INTEGER" />
		<result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
		<result column="rankPoints" property="rankPoints" jdbcType="INTEGER" />
		<result column="lastTime" property="lastTime" jdbcType="TIMESTAMP" />
		<result column="lastIp" property="lastIp" jdbcType="VARCHAR" />
		<result column="alias" property="alias" jdbcType="VARCHAR" />
		<result column="officePhone" property="officePhone" jdbcType="VARCHAR" />
		<result column="isValidated" property="isValidated" jdbcType="INTEGER" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id, email, userName, password, sex, birthday, rankPoints,
		lastTime, lastIp, alias, officePhone, isValidated
	</sql>
	
	<insert id="insertSelective"  parameterType="com.sunkun.suncms.beans.UsersBean">
		INSERT INTO sun_users(email, userName, password, sex, birthday, rankPoints,
		lastTime, lastIp, alias, officePhone, 
		isValidated) values(
			#{email},
			#{userName},
			#{password},
			#{sex},
			#{birthday},
			#{rankPoints},
			#{lastTime},
			#{lastIp},
			#{alias},
			#{officePhone},
			#{isValidated}
		)
	</insert>
	
	<update id="updateByPrimaryKeySelective"  parameterType="com.sunkun.suncms.beans.UsersBean">
		UPDATE sun_users u SET 
			u.email=#{email},
			u.userName=#{userName},
			u.password=#{password},
			u.sex=#{sex},
			u.birthday=#{birthday},
			u.rankPoints=#{rankPoints},
			u.lastTime=#{lastTime},
			u.lastIp=#{lastIp},
			u.alias=#{alias},
			u.officePhone=#{officePhone},
			u.isValidated=#{isValidated}
		where id=#{id,jdbcType=INTEGER}
	</update>
	
	<!--
		<delete id="deleteByIds" parameterType="java.util.List">
			<foreach close="" collection="list" index="index" item="item" open="" separator=";">
				DELETE FROM sun_users
				WHERE id=#{item.id,jdbcType=INTEGER}
			</foreach>
		</delete>
		-->
	
	
	<delete id="deleteByIds" parameterType="java.util.List">
			DELETE FROM sun_users WHERE id IN
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">  
    			#{item}  
		</foreach>
	</delete>
	
	
	
	<delete id="deleteByPrimaryKey" parameterType="int">
		DELETE FROM sun_users
		WHERE id=#{id,jdbcType=INTEGER}
	</delete>
	
	<select id="getAllCount" resultType="int" parameterType="map">
		SELECT COUNT(id) FROM sun_users 
		<where>
			<if test="userName != null">
				userName LIKE #{userName,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	
	<select id="getAllList" resultMap="BaseResultMap" parameterType="map">
		SELECT 
		<include refid="Base_Column_List" />
		FROM sun_users 
		<where>
			<if test="userName != null">
				userName LIKE #{userName,jdbcType=VARCHAR}
			</if>
		</where>
		<if test="sort != null"> 
			order by ${sort} ${order}
		</if>
		LIMIT 
		#{pageIndex,jdbcType=INTEGER},
		#{pageSize,jdbcType=INTEGER}
	</select>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="int">
		SELECT 
		<include refid="Base_Column_List"></include>
		FROM sun_users 
		WHERE id=#{id,jdbcType=INTEGER}
	</select>
	
	
</mapper>